In [3]:
!pip install yahooquery

Collecting yahooquery
  Downloading yahooquery-2.3.0-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 49.6/49.6 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.54.1 in d:\virtual_env\lib\site-packages (from yahooquery) (4.64.1)
Collecting requests-futures>=1.0.0
  Downloading requests_futures-1.0.0-py2.py3-none-any.whl (7.4 kB)
Requirement already satisfied: pandas>=0.24.0 in d:\virtual_env\lib\site-packages (from yahooquery) (1.5.0)
Requirement already satisfied: lxml>=4.9.1 in d:\virtual_env\lib\site-packages (from yahooquery) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\virtual_env\lib\site-packages (from pandas>=0.24.0->yahooquery) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\virtual_env\lib\site-packages (from pandas>=0.24.0->yahooquery) (2022.4)
Requirement already satisfied: numpy>=1.21.0 in d:\virtual_env\lib\site-packages (from pandas>=0.24.0->yahooquery) (1.23.3)
Requirement already satisfied: requests>=1.2.0 in d:\virtual_env\lib\site-packages (from requests-futures>=1.0.0->yahooquery) (2.28.1)
Requirement already satisfied: colorama in d:\virtual_env\lib\site-packages (from tqdm>=4.54.1->yahooquery) (0.4.5)
Requirement already satisfied: six>=1.5 in d:\virtual_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yahooquery) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\virtual_env\lib\site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\virtual_env\lib\site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in d:\virtual_env\lib\site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\virtual_env\lib\site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (1.26.12)
Installing collected packages: requests-futures, yahooquery
Successfully installed requests-futures-1.0.0 yahooquery-2.3.0

In [5]:
from yahooquery import Ticker

In [22]:
faang=Ticker('GOOGL', asynchronous=True, period='YTD')

In [26]:
x=faang.history(period='ytd', interval='1d',start=None, end=None)

In [27]:
x

                        open        high        low      close    volume  \
symbol date
GOOGL  2023-01-03  89.589996   91.050003  88.519997  89.120003  28131200
       2023-01-04  90.349998   90.650002  87.269997  88.080002  34854800
       2023-01-05  87.470001   87.570000  85.900002  86.199997  27194400
       2023-01-06  86.790001   87.690002  84.860001  87.339996  41362500
       2023-01-09  88.360001   90.050003  87.860001  88.019997  29003900
       2023-01-10  85.980003   88.669998  85.830002  88.419998  30467800
       2023-01-11  89.180000   91.599998  89.010002  91.519997  26862000
       2023-01-12  91.480003   91.870003  89.750000  91.129997  30258100
       2023-01-13  90.849998   92.190002  90.129997  92.120003  26309900
       2023-01-17  92.059998   92.250000  90.050003  91.290001  32602400
       2023-01-18  92.139999   92.800003  90.639999  91.120003  29116700
       2023-01-19  90.720001   93.610001  90.629997  93.050003  37000400
       2023-01-20  95.099998   98.300003  95.019997  98.019997  63037300
       2023-01-23  97.949997  100.040001  97.500000  99.790001  40005100
       2023-01-24  98.099998   99.610001  97.199997  97.699997  33078500
       2023-01-25  95.570000   96.160004  93.760002  95.220001  42257900

                    adjclose
symbol date
GOOGL  2023-01-03  89.120003
       2023-01-04  88.080002
       2023-01-05  86.199997
       2023-01-06  87.339996
       2023-01-09  88.019997
       2023-01-10  88.419998
       2023-01-11  91.519997
       2023-01-12  91.129997
       2023-01-13  92.120003
       2023-01-17  91.290001
       2023-01-18  91.120003
       2023-01-19  93.050003
       2023-01-20  98.019997
       2023-01-23  99.790001
       2023-01-24  97.699997
       2023-01-25  95.220001

In [28]:
import yfinance as yf

In [44]:
x=yf.download('NVDA')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NVDA: No data found for this date range, symbol may be delisted

In [41]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in d:\virtual_env\lib\site-packages (from pandas-datareader) (1.5.0)
Requirement already satisfied: requests>=2.19.0 in d:\virtual_env\lib\site-packages (from pandas-datareader) (2.28.1)
Requirement already satisfied: lxml in d:\virtual_env\lib\site-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: numpy>=1.21.0 in d:\virtual_env\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in d:\virtual_env\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\virtual_env\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\virtual_env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in d:\virtual_env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\virtual_env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in d:\virtual_env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: six>=1.5 in d:\virtual_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [43]:
import pandas_datareader as pdr

In [45]:
data = pdr.get_data_yahoo('NVDA')

TypeError: string indices must be integers

In [55]:
data = yf.Ticker("NFLX").history(period='10y')

In [56]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-28 00:00:00-05:00,24.644285,25.321428,22.969999,23.158571,109104800,0,0.0
2013-01-29 00:00:00-05:00,22.590000,24.268572,22.375713,24.160000,59542000,0,0.0
2013-01-30 00:00:00-05:00,24.784286,25.071428,23.237143,23.957144,48062700,0,0.0
2013-01-31 00:00:00-05:00,23.871429,24.142857,22.902857,23.605715,35601300,0,0.0
2013-02-01 00:00:00-05:00,24.285713,24.714287,23.411428,23.542856,50358000,0,0.0
...,...,...,...,...,...,...,...
2023-01-19 00:00:00-05:00,322.570007,324.890015,313.390015,315.779999,18008200,0,0.0
2023-01-20 00:00:00-05:00,336.790009,344.000000,332.630005,342.500000,28385600,0,0.0
2023-01-23 00:00:00-05:00,341.720001,362.250000,340.630005,357.420013,15646900,0,0.0
2023-01-24 00:00:00-05:00,357.529999,365.649994,355.140015,363.829987,11796500,0,0.0
2023-01-25 00:00:00-05:00,360.570007,368.899994,358.500000,367.959991,7746200,0,0.0

In [71]:
data = yf.Ticker("META")

In [74]:
type(data.history(period='20y'))

pandas.core.frame.DataFrame

In [84]:
def get_historical_data(stock_name):
    data = yf.Ticker(stock_name)
    return data.history(period='max')

In [88]:
x=get_historical_data('TCS.NS')

In [89]:
x.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [91]:
x[x['Dividends']==67.000]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-16 00:00:00+05:30,3317.0,3353.0,3298.050049,3334.050049,1843607,67.0,0.0